{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<main class="container">
    <div class="title">
        <div class="title ">
               <h3 class="mt-4 pb-4 mb-4 fst-italic border-bottom">
                   Recent Article
                </h3> 
        </div>            
    </div>
    <div class="row ">
        <div class="col-md-8">
            <div class="article-list">
                {% include "article/list.html.twig" with {article}  %}
            </div>
        
        </div>
        <div class="col-md-4"> 
            <div class="position-sticky" style="top : 2 rem;">
                {% include "widgets/about.html.twig" %}
                {% include "widgets/category.html.twig" %}
            </div>
        </div>
    </div>
</main>
{% endblock %}
