{% set username = comment.user.username %}

<div class="comment mb-4">
    <div class="card ">
        <div class="card body p-2">
            <div class="card-title">
             <h5>
                Posted  by <a href="" class="text-decoration-none"><span class="comment-author">{{ username }}</span></a>,
                {{ comment.CreatedAt|ago }}
             </h5>
             </div>
             <p class="card-text">
                {{ comment.content }}
             </p>
        </div>
    </div>
</div>
