<nav class="py-1 bg-dark border-bottom">
    <div class="container d-flex flex-wrap">
        <div class="dropdown">
            <a class="nav nav-link text-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Blog
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonAdmin">
                <li><a class="dropdown-item" href="{{ path('admin') }}">Dashboard</a></li>
                <li><a class="dropdown-item" href="#">Menus</a></li>
            </ul>
        </div>

        <div class="dropdown">
            <a class="nav nav-link text-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                Add
            </a>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButtonAdmin">
                <li><a class="dropdown-item" href="#">Article</a></li>
                <li><a class="dropdown-item" href="#">Page</a></li>
            </ul>
        </div>
    </div>
</nav>