{% extends 'base.html.twig' %}

{% block title %}{{ article.slug }}{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>{{ article.title }}</h1>
        <hr>
        <p>{{ article.content|raw }}</p>
    </div>
{% endblock %}
